@charset "UTF-8";
:root {
  --foreground-dark: #2b47e3;
  --foreground-light: #ffff;
  --background-dark: #deeeee;
  --background-light: #ffff;
}

* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
* .material-symbols-outlined {
  margin: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-dark);
  margin: 0;
  min-height: 1000px;
  font-family: "Montserrat", sans-serif;
}

.bodyHeader {
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 2px 5px 10px #000;
  /*.bodyHeader nav {
    }*/
}
.bodyHeader h1 {
  /* jeśli podajemy 2 wartości : poz y, poz x */
  margin: 6px 10px;
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  text-align: center;
  color: #23484a;
}

nav {
  /* warunek, wyłapujący wyświetlanie na komputerze */
}
nav #toggler {
  display: none;
}
nav #toggler:checked ~ ul {
  right: 0;
}
nav #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
nav #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
nav #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
nav label {
  /*border: 5px dashed red;*/
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.15rem;
}
nav label div {
  height: 2px;
  width: 80%;
  background-color: #000;
  position: absolute;
  transition: 0.2s;
}
nav label div:nth-child(1) {
  top: calc(22% - 1px);
}
nav label div:nth-child(2) {
  top: calc(50% - 1px);
}
nav label div:nth-child(3) {
  top: calc(78% - 1px);
}
nav ul {
  background-color: var(--foreground-light);
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  display: flex;
  position: fixed;
  right: -100%;
  /*top: 3rem;*/
  top: 2.5rem;
  height: calc(100% - 3.5rem);
  transition: 0.5s;
  flex-direction: column;
}
nav ul li {
  margin: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  margin: 0.1rem;
  background-color: #23484a;
  gap: 5px;
  width: 50%;
}
form input,
form textarea {
  padding: 10px;
}

.wrapper {
  /* border:5px dashed pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0.5rem 0 0.5rem;
}
.wrapper header {
  width: 100%;
}
.wrapper header h2 {
  padding-top: 2rem;
  color: #23484a;
  text-align: center;
}
.wrapper .content p {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem;
  line-height: 1.2rem;
}
.wrapper .tableWrapper {
  padding: 0 2rem;
}
.wrapper table {
  box-shadow: 5px 10px 20px #000;
  width: 50%;
  background-color: #23484a;
  border-collapse: separate;
}
.wrapper table th {
  background-color: var(--foreground-light);
}
.wrapper table td {
  background-color: var(--foreground-light);
  padding: 0.5rem;
}
.wrapper h2 {
  text-align: center;
  padding: 2px;
  width: 100%;
}

footer {
  border: 2px;
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
}
footer ol {
  list-style: none;
  margin: 0;
  padding: 1rem;
  font-size: 0.8rem;
}
footer p {
  margin: 0;
}

.contact {
  display: flex;
  justify-items: first baseline;
  padding: 1rem;
  border: 2px #23484a;
  box-shadow: 5px 10px 20px #000;
}

.button {
  border-radius: 10px;
  display: flex;
  width: 70px 20px;
}

@media (min-width: 768px) {
  body .bodyHeader nav ul {
    /* display:none; */
    flex-direction: row;
    position: static;
  }
  body .bodyHeader nav label {
    display: none;
  }
  body .wrapper {
    flex-direction: row;
  }
  body .wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }
  body .wrapper * {
    flex: 1;
    text-align: center;
    padding: 0.3rem;
  }
}